/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
body {
    margin: 30px;
}

.search-container {
    padding: 5px;
    text-align: center;
}

header {
    font-size: 40px;
    color: aliceblue;

}

#header1 {
    background-color: black;
}

#search-button{
    margin: 4px;
}

 h4 {
    margin:8px
}

#previous-cities { 
    list-style-type: none;
    width: fit-content;
    font-size: 20px;
    display: flex;
    justify-content: center;
     flex-direction: column;
    padding: 0;
    margin: 0;
    
}

.list-container { 
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
}

.historyText {
    text-align: center;
    width: 100%;
    margin: 5px;
}
